.about {
  background: blue;
  border-radius: 14px;
  padding: 24px;
  z-index: 400;
  overflow-y: scroll;
  height: calc(100vh - 96px);
  top: 20px;
  position: fixed;
  width: calc(100vw - 96px);
}
.about-links {
  margin-bottom: 48px;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.about-links p {
  margin-bottom: 16px;
}
.link a:hover {
  text-decoration: underline;
}
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  font-size: 20px;
}
.about-close {
  position: sticky;
  top: 0;
}
.cross-about {
  top: -12px !important;
  right: -8px !important;
}
.arrow-back-about {
  width: 14px;
  margin-right: 12px;
}
.about-back {
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.about-section-title {
  margin-bottom: 24px;
  font-weight: bolder;
}
.arrow-slanted {
  width: 14px;
  margin-right: 24px;
}
.technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.about-hr {
  margin-bottom: 40px;
}
.additional-infos {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  p, a {
    font-size: 0.85em;
  }
  .about-content {
    display: block;
  }
  .about-content-block {
    margin-bottom: 48px;
  }
  .about-hr {
    margin-bottom: 56px;
  }
  .link {
    display: block;
  }
}
