.filters {
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  padding: 60px 24px 8px 24px;
  z-index: 100;
}
.tags-clickable {
  border: solid 1px white;
  margin: 4px 4px 8px 0;
  padding: 4px 8px 4px 8px;
  border-radius: 18px;
  font-size: 1em;
  text-transform: capitalize;
  display: inline-block;
}
.filter-button {
  position: fixed;
  top: 16px;
  left: 24px;
  z-index: 200;
  background: blue;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  /*text-transform: uppercase;*/
}
