.project-cover-img {
  height: calc((100vw - 48px) / 3);
  object-fit: cover;
}
.project-infos {
  display: grid;
  grid-template-columns: 3fr 5fr 1fr 4fr;
  grid-gap: 24px;
  padding-top: 16px;
}
.categories {
  min-width: 0;
  overflow: hidden;
}
.description {

}
.credits {

}
.content-title {
  font-weight: bolder;
}
.tag-details-page {
  margin-left: 0;
  margin-right: 4px;
}
@media screen and (max-width: 780px) {
  .project-cover-img {
    height: calc((100vw - 48px) / 2);
  }
  .project-infos {
    display: block;
  }
}
