.project-infos {

}
.project-cover-img {
  height: calc((100vw - 48px) / 3);
  object-fit: cover;
  transition: 0.2s;
}
@media screen and (max-width: 780px) {
  .project-cover-img {
    height: calc((100vw - 48px) / 2);
    transition: 0.2s;
  }
}
