@import "./components/about";
@import "./components/card";
@import "./components/filters";
@import "./components/headline";
@import "./components/navbar";
@import "./config/fonts";

body {
  margin: 0;
  font-family: 'Alliance No.2', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}
.App {
  padding: 24px;
  padding-top: 0;
}
.uppercase {
  text-transform: uppercase;
}
.headlines {
  text-transform: uppercase;
  font-size: 1.25em;
}
img {
  width: 100%;
  border-radius: 4px;
}
a {
  color: white;
  text-decoration: none;
}
.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  text-align: left;
  transition: 1s ease;
  padding-top: 80px;
}
hr {
  border-top: solid 1px white;
  border-bottom: none;
}
@media screen and (max-width: 780px) {
  .project-list {
    grid-template-columns: 1fr;
    transition: 1s ease;
  }
}
.project-details {
  padding-top: 48px;
}
